body {
  margin: 0px;
  color: white;
  background-color: #19237e;
  font-family: "Poppins", sans-serif;
  font-size: clamp(5px, 1.5vw, 20px);
  padding: 0px;
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(#19237e, #a81e33);
  background-size: cover;
  background-position: absolute;
  background-repeat: no-repeat;
  overflow: hidden;
}
.logo {
  position: fixed;
  top: 0 vh;
  left: 1vw;
  height: 16vh;
  width: auto;
  z-index: 1000;
}
.menu {
  position: fixed;
  top: 4vh;
  right: 3vw;
  text-align: right;
  display: flex;
  gap: 2vh;
  z-index: 1000;
  align-items: flex-end;
  flex-direction: column;
}
.menu a:link {
  color: white;
  text-decoration: none;
}
.menu a:visited {
  color: white;
}
.menu a:hover {
  color: grey;
  font-weight: bold;
}
.menu a:active {
  color: white;
  text-decoration: none;
}
@font-face {
  font-family: "Telegraf";
  src: url(font/PPTelegraf-UltraBold.otf);
  font-weight: bold;
}
@font-face {
  font-family: "Telegraf";
  src: url(font/PPTelegraf-UltraLight.otf);
  font-weight: lighter;
}
@media (max-width: 450px) {
  .menu {
    position: fixed;
    top: 3vh;
    left: 15%;
    display: flex;
    gap: 8.5vw;
    z-index: 1000;
    font-size: 2.8vw;
  }
  .logo {
    position: sticky;
    display: block;
    margin: 0 auto;
    height: 16vh;
    width: auto;
    top: 1.2vh;
  }
  .pg {
    padding-top: 310px !important;
  }
  .info1 {
    position: absolute;
    bottom: 10vh !important;
    left: 4.5vw !important;
    font-size: clamp(2px, 2vw, 19px);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .info2 {
    position: absolute;
    bottom: 10vh !important;
    right: 4.5vw !important;
    font-size: clamp(2px, 2vw, 19px);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .gach {
    position: absolute;
    bottom: 10.2vh !important;
    left: 45% !important;
    font-size: clamp(0px, 1.2vw, 10px);
    font-family: "Telegraf";
    font-weight: lighter;
  }
}
.pg {
  font-family: "Telegraf";
  padding-top: 45vh;
  text-align: center;
  font-size: 10vw;
  font-weight: bold;
}
.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; /*này bị margin collapse nè ae*/
  background-image: linear-gradient(#a81e33, #09033d, #000000);
}
.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vh;
  backdrop-filter: blur(9px);
  z-index: 999;
}
.info1 {
  position: absolute;
  bottom: 3vh;
  left: 3vw;
  font-size: clamp(2px, 2vw, 19px);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.info2 {
  position: absolute;
  bottom: 3vh;
  right: 3vw;
  font-size: clamp(2px, 2vw, 19px);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.gach {
  position: absolute;
  bottom: 3.5vh;
  left: 46%;
  font-size: clamp(0px, 1.2vw, 10px);
  font-family: "Telegraf";
  font-weight: lighter;
}
p {
  margin: 0;
  padding: 0;
}
.info1 a:link {
  color: white;
  text-decoration: none;
}
.info1 a:visited {
  color: white;
}
.info1 a:hover {
  color: rgb(240, 252, 255);
  font-weight: bold;
}
.info1 a:active {
  color: white;
  text-decoration: none;
}
.title {
  font-size: 6vh;
  font-weight: bold;
  text-align: left;
}
.khung1 {
  display: flex;
  flex-direction: column;
  gap: 0vh;
  margin-top: 8vh;
  margin-left: 10vw;
  text-align: justify;
  width: 50vw;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.3),
    rgba(175, 193, 238, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  padding: 50px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}
.khung2 {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
}
.khung2 img {
  width: 30vw;
  height: 38vh;
  margin: 6vh 10vw 0vh 10vw;
  object-fit: cover;
  object-position: top center;
  border-radius: 10px;
}
.thongtin {
  width: 27vw;
  border: solid;
  padding: 18px;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 1vw;
}
.ten {
  font-size: 2.5vw;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.activities {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; /*này bị margin collapse nè ae*/
  background-image: linear-gradient(#000000, #0c0649, #1d184a);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.class li {
  list-style: none;
}
.cv > li {
  position: relative;
  display: inline-block;
}
.list {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  padding: 1vh 2vh 1vh 0.5vh;
  border-radius: 10px;

  top: 100%;
  right: 0;
  width: 150px;
  z-index: 1001;
}
.list.show {
  display: block;
}
.list li {
  padding: 2px;
  text-align: right;
}
